html,
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #222;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

body {}

*::selection {
    background: #222;
    color: #ddd;
}

*::selection {
    color: #222;
    background: #ddd;
}

*:focus {
    outline: 1px solid #777;
}

.remarkdown img {
    max-width: min(78ch, calc(100vmin - 4ch));
    object-fit: contain;
    max-height: 75vmin;
}

.remarkdown {
    white-space: normal;
    overflow-wrap: normal;
    word-break: break-word;
    hyphens: auto;
    max-width: 80ch;
    margin: 0 auto;
    padding: 1em 1ch;
}

.remarkdown h1 {
    color: #005994;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
}

.remarkdown h2 {
    color: #005994;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 1em;
}

.remarkdown h3,
.remarkdown h4,
.remarkdown h5,
.remarkdown h6 {
    color: #005994;
    font-weight: 500;
    margin-top: 1em;
    margin-bottom: 1em;
}

.remarkdown p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.remarkdown figure {
    margin: 1em 0 1em;
}

.remarkdown hr {
    margin: 1em 0 1em;
}

.remarkdown ul {
    margin: 1em 0ch 1em 2ch;
}

.remarkdown ol {
    margin: 1em 0ch 1em 4ch;
}

.remarkdown a {
    color: #005994;
    text-decoration: none;
}

.remarkdown pre {
    background-color: #f8f8f8;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0ch;
    white-space: pre-wrap;
}

.hljs {
    padding: 1em;
    margin: 0;
    overflow-x: auto;
    background: #f8f8f8;
}

.remarkdown pre code {
    padding: 0;
    color: inherit;
}

.remarkdown code {
    color: #786326;
}

.remarkdown blockquote {
    margin: 1em 2ch 1em 2ch;
}


.remarkdown blockquote::before {
    white-space: normal;
}

.remarkdown.table-marker table {
    margin-top: 1em;
    margin-bottom: 1em;
}

.remarkdown.table-marker tr:first-child>th:not([scope="row"]) {
    padding-bottom: 1em;
}


.remarkdown ::before,
.remarkdown ::after {
    color: #264F78;
}

.remarkdown.ul-star ul>li::before {
    margin-left: -2ch;
}