pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

.hljs {
  color: #333;
  background: #fff
}

.hljs-comment,
.hljs-quote {
  color: #777;
  font-style: italic
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: 700
}

.hljs-literal,
.hljs-number {
  color: #777
}

.hljs-doctag,
.hljs-formula,
.hljs-string {
  color: #333;
  background: #eee
}

.hljs-section,
.hljs-selector-id,
.hljs-title {
  color: #000;
  font-weight: 600
}

.hljs-subst {
  font-weight: 400
}

.hljs-class .hljs-title,
.hljs-name,
.hljs-title.class_,
.hljs-type {
  color: #333;
  font-weight: 700
}

.hljs-tag {
  color: #333
}

.hljs-regexp {
  color: #333;
  background: #eee
}

.hljs-bullet,
.hljs-link,
.hljs-symbol {
  color: #000;
  background: #eee
}

.hljs-built_in {
  color: #000;
  text-decoration: underline
}

.hljs-meta {
  color: #999;
  font-weight: 700
}

.hljs-deletion {
  color: #fff;
  background: #777
}

.hljs-addition {
  color: #000;
  background: #ddd
}

.hljs-emphasis {
  font-style: italic
}

.hljs-strong {
  font-weight: 700
}