<!DOCTYPE html>
<html lang="{{ page.language | default: 'en' }}">

  <head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{%endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="{{ page.language | default: 'en' }}">
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="/blog/atom.xml" />
  </head>

  <body>
    <div id="main" class="remarkdown h1-underline ul-star em-star strong-star a-showurl code-tick pre-tick"
      style="font-family: monospace;">
      {{ content }}
    </div>
    <script src="/scripts.js"></script>
  </body>

</html>